main {
  font-family: 'Delius', cursive;
  color: #8B4513
}

main img {
  width: 375px;
  margin-bottom: 10px;
}

main h1 {
  font-size: 30px;
 
}

.recipe-detail {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  margin: 7px;
}

p {
  margin: 5px;
}

.ingredients, .directions, .attempts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffd7;
  margin: 5px;
  padding: 7px;
  box-shadow: 5px 5px 4px #8B4513;
  border-radius: 20px;
}

